@CHARSET "UTF-8";

table.gridtable{
	border:1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#000000;
}

td.gridtd {
	border:1px;
	border-style:solid;
	border-spacing:0px;
	border-color:#BFBFFF;
	cursor:pointer;
}

td.gridh {
	background-color:#4444FF;
	color:#FFFFFF;
	border: 2px #0000FF outset;
	font-weight:bold;
}

tr.gridtr0 {
	background-color:#CCCCFF;
	color:#000000;
}

tr.gridtr0:hover {
	background-color:#CCCCCC;
}

tr.gridtr1 {
	background-color:#BBBBFF;
	color:#000000;
}

tr.gridtr1:hover {
	background-color:#CCCCCC;
}

td {
	font-size:11px;
	font-family: Arial;
}

body {
	font-size:13px;
	font-family:Arial;
	color: #000000;
}

h1 {
	font-size:16px;
	color: #000000;
}