<?xml version="1.0" encoding="UTF-8"?>
<ecmflow_extension nome="dctapagar" type="doc">
 <tabela nome="d_cta_pagar">
  <head_tabela>
   <campo type="int(11)">id_doc</campo>
   <campo type="int(11)">id_fornecedor</campo>
   <campo type="date">data_vencimento</campo>
  </head_tabela>
  <key_tabela>
   <indice>id_doc</indice>
   <indice>id_fornecedor</indice>
   <indice>data_vencimento</indice>
  </key_tabela>
 </tabela>
 <doc_tipo nome="Contas a pagar" />
 <doc_sub_tipo nome="Contas a pagar" path="/docinput/financeiro/CtaPagar" />
</ecmflow_extension>
